<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Εγγραφή Νέου Χρήστη</title>
    <link rel="stylesheet" href="https://jsdelivr.net">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body bg-dark text-white">
    
    <!-- 📦 ΚΕΝΤΡΙΚΟ ΚΟΥΤΙ ΕΓΓΡΑΦΗΣ -->
    <div class="auth-container">
        <h2>Δημιουργία Λογαριασμού</h2>
        
        <!-- ΕΜΦΑΝΙΣΗ ΣΦΑΛΜΑΤΩΝ-->
        {% if error %}
            <div class="text-danger fw-bold text-center mb-3">
                {{ error }}
            </div>
        {% endif %}

        <form action="{{ url_for('main.register') }}" method="POST">
            <input type="text" name="username" class="auth-input" placeholder="Όνομα Χρήστη" required>
            <input type="email" name="email" class="auth-input" placeholder="Email" required>
            <input type="password" name="password" class="auth-input" placeholder="Κωδικός Πρόσβασης" required>
            <button type="submit" class="btn-auth-submit">Εγγραφή</button>
        </form>
        <div class="auth-link-box">
           Έχετε ήδη λογαριασμό; <a href="{{ url_for('main.login') }}">Σύνδεση εδώ</a>
        </div>
    </div>
</body>
</html>
